.details {
  padding: 0 15px 15px;
  user-select: none;
}
.tag {
  border: 1px solid #0c5188;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 10px;
  color: #0c5188;
}
.title {
  color: #0c5188;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: -25px;
}

.description {
  color: gray;
  font-size: 0.9em;
}
.clsbtn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
