html::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: touch;
}
.carousel {
  max-height: 100vh;
  position: relative;
}
.media-container {
  position: absolute;
  color: #fff;
  width: 100%;
  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  z-index: 2;
}
.carousel-title {
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 35vw;
  text-shadow: 0px 0px 10px #000;
  margin-bottom: 2vw;
}
.carousel-img {
  width: 100vw;
}
.carousel-shadow-bottom {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1)
  );
}
@media only screen and (max-width: 700px) {
  .carousel-title {
    width: 50vw;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 522px) {
  .carousel-control-next,
  .carousel-control-prev {
    top: 35px !important;
  }
  .carousel-title {
    width: 60vw;
  }
  .media-container {
    left: 12%;
  }
}
@media only screen and (max-width: 411px) {
  .media-container button {
    font-size: 0.6rem;
    padding: 0.335rem 0.35rem;
  }
}
@media only screen and (max-width: 365px) {
  .carousel-title {
    font-size: 0.7rem;
  }
  .media-container {
    left: 15%;
  }
}
@media only screen and (max-width: 365px) {
  .media-container {
    top: 12%;
  }
  .carousel-title {
    width: 65vw;
  }
  .media-container button {
    line-height: 1.2;
  }
}

/* overriding css */
.flickity-button {
  background: transparent !important;
  color: #fff !important;
}
.flickity-button:hover {
  background: transparent !important;
  color: rgb(207, 203, 203) !important;
}
